<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Boston Bruins Developer Applicant Coding Challenge</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="js/app.js"></script>
    <script src="views/playerSearch/playerSearch.js"></script>
    <script src="views/playerCard/playerCard.js"></script>
    <style>
        html { height: 100%; }
        body { padding-bottom: 70px; height: 100%; }
        .center { height: 100%; display: flex; justify-content: center; align-items: center;}
        .bcHelp { color: #337AB7; cursor: pointer;}
        .thumbnail { border:none;cursor:pointer; }
    </style>
</head>
<body ng-app="myApp" ng-controller="indexController">
    <ol class="breadcrumb">
      <li ng-class="isHomeToggle" ng-click="goHome()">Home</li>
      <li class="active" ng-show="isVPC">View Player Cards</li>
      <li class="active" ng-show="isFT">Final Thoughts</li>
    </ol>
    <div class="container-fluid center" ng-show="showMainOptions">
        <div class="row">
            <div class="col-xs-5">
                <div class="thumbnail" ng-click="goToPlayerSearch()">
                    <img src="icons/player_card_icon.png" alt="">
                </div>
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-5">
                <div class="thumbnail" ng-click="goToFinalThoughts()">
                    <img src="icons/questionmark.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="ng-view">

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="padding-left:15px;padding-top:8px;">
        <span style="color:#777;">Created by Matthew Bentson</span>
    </nav>
</body>
</html>