<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for player...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="playerSearch()">Search</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </main>
</body>
</html>
